@{
    Layout = "_adminDash";
}

<ul class="nav nav-justified m-2 d-flex flex-wrap" id="dashboard_tab" role="tablist">
    <li class="nav-item m-2 col">
        <button class="nav-link new mb-0 active bg-primary-subtle text-primary border border-primary rounded" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <span></span>
                    <span class="ms-2">NEW</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class=" d-none d-md-flex justify-content-center text-align-center w-100 align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(32,63,154)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link pending bg-info-subtle text-info border border-info rounded" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"></path>
                    </svg>
                    <span class="ms-2">PENDING</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(37,164,202)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link act bg-success-subtle text-success border border-success rounded" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"></path>
                    </svg>
                    <span class="ms-2">ACTIVE</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(48,129,62)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link conclude border border-danger rounded" style="color:rgb(174,38,119);background-color:rgb(247,230,238)" id="conclude-tab" data-bs-toggle="tab" data-bs-target="#conclude" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"></path>
                    </svg>
                    <span class="ms-2">CONCLUDE</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(174,38,119)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link toclose rounded" style="color:rgb(37,110,176);background-color:rgb(229,238,245)" id="toclose-tab" data-bs-toggle="tab" data-bs-target="#toclose" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"></path>
                    </svg>
                    <span class="ms-2 d-flex flex-nowrap">TO CLOSE</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(37,110,176)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link unpaid rounded" style="color:rgb(145,105,179);background-color:rgb(239,238,244)" id="unpaid-tab" data-bs-toggle="tab" data-bs-target="#unpaid" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"></path>
                    </svg>
                    <span class="ms-2">UNPAID</span>
                </div>
                <div class="text-start fs-3 fw-bold">1452</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(145,105,179)"></div>
        </div>
    </li>
</ul>

<div class="tab-content fs-6 fw-normal mx-2" id="myTabContent">
    @* New Tab *@
    <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
        <partial name="_NewCase" />
    </div>

    @* Pending Tab *@
    <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <partial name="_PendingCase" />
    </div>

    @* Active Tab *@
    <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab">
        <partial name="_ActiveCase" />
    </div>

    @* Conclude Tab *@
    <div class="tab-pane fade" id="conclude" role="tabpanel" aria-labelledby="conclude-tab">
        <partial name="_ConcludeCase" />
    </div>

    @* To close Tab *@
    <div class="tab-pane fade" id="toclose" role="tabpanel" aria-labelledby="toclose-tab">
        <partial name="_ToCloseCase" />
    </div>

    @* Unpaid Tab *@
    <div class="tab-pane fade" id="unpaid" role="tabpanel" aria-labelledby="unpaid-tab">
        <partial name="_UnpaidCase" />
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.nav-link');

        buttons.forEach(button => {
            button.addEventListener('click', function () {

                const arrowDown = this.nextElementSibling.querySelector('.arrow-down');
                document.querySelectorAll('.arrow-down').forEach(arrow => arrow.style.display = 'none');
                arrowDown.style.display = this.classList.contains('active') ? 'block' : 'none';
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const newTabButton = document.getElementById('new-tab');
        newTabButton.click();
    });
</script>